body {
    background-color: #f8f8f8;
    margin-top: 1em;
}

body .container {
    max-width: 90%;
    margin: 0 auto;
}

body .container img {
    max-height: 20em;
    width: auto;
}

.invisible-upload {
    position: relative;
}

.invisible-upload input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}