<!DOCTYPE html>
<html>
<head>
  <title>Survey</title>
  <style>
  .box {
    display: inline-block;
    width: 25px;
    height: 25px;
  }
  .column {
    display: inline-block;
  }
  .column button {
    display: block;
  }
  </style>
</head>
<body>
  <form method="post">
    <input type="hidden" name="user" value="{{ dumps(user) }}"/>
    <input type="hidden" name="a" value="{{ dumps(a) }}"/>
    <input type="hidden" name="b" value="{{ dumps(b) }}"/>
  {% if suite == "youtube" %}
  <h1>Which do you prefer?</h2>
  <div class="column">
    {{show_video(a)}}
    <button type="submit" name="choice"
      value="{{ dumps(a) }}">The video on the left</button>
  </div>
  <div class="column">
    {{show_video(b)}}
    <button type="submit" name="choice"
      value="{{ dumps(b) }}">The video on the right</button>
  </div>
  <h2>Rankings</h2>
  <table>
    {% for ranking in rankings %}
    <tr>
      <th>#{{ ranking[0] }}</th>
      {% for option in ranking[1] %}
        <td><div>{{option[0]}}</div> ({{"{:.2f}".format(option[1])}})</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <h1>On a scale from {{show_color(user[0])}} to {{show_color(user[1])}} — which is more {{show_color(user[0])}}?</h1>
  <button type="submit" name="choice"
    value="{{ dumps(a) }}">{{show_color(a)}}</button>
  <button type="submit" name="choice"
    value="{{ dumps(b) }}">{{show_color(b)}}</button>
  <h2>Rankings</h2>
  <table>
    {% for ranking in rankings %}
    <tr>
      <th><div>{{show_color(ranking[0][0])}}</div>.</th>
      {% for option in ranking[1] %}
        <td><div>{{show_color(option[0])}}</div> ({{"{:.2f}".format(option[1])}})</td>
      {% endfor %}
      <th><div>{{show_color(ranking[0][1])}}</div>.</th>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  </form>
</body>
</html>