<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Survey Service</title>
  <link rel="stylesheet" href="static/bootstrap.min.css"/>
  <link rel="stylesheet" href="static/styles.css"/>
  <script src="static/main.js"></script>
</head>
<body>
  <div class="container">
    <form method="post" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">How funny are the following things?</h3>
      </div>
      {{if .ID}}
        <input type="hidden" name="question" value="{{ .ID }}"/>
        {{if eq .Question.Precision 0 }}
          <div class="panel-body">
          <p>Select the funniest first.</p>
          <p>
          {{range $index, $choice := .Question.Choices}}
            <a class="btn btn-default option"
                id="response-{{ $index }}-btn">{{ . | asHTML }}</a>
            <input type="hidden" name="response-{{ $index }}"
              id="response-{{ $index }}"/>
          {{end}}
          </p>
          </div>
          <div class="panel-footer">
            <input type="submit" id="next" class="btn btn-primary disabled"/>
          </div>
          <script type="text/javascript">
            configureOptions("#next", {{ len .Question.Choices }});
          </script>
        {{else}}
          <table class="table">
          <thead>
            <tr>
              <th>&nbsp;</th>
              {{if le $.Question.Precision 10}}
              <th colspan="{{ $.Question.Precision }}">
              {{else}}
              <th>
              {{end}}
                <span style="float:left">Not funny</span>
                <span style="float:right">Very funny</span>
              </th>
            </tr>
            {{if le $.Question.Precision 10}}
            <tr>
              <th>&nbsp;</th>
              {{range $prec, $elem := loop $.Question.Precision}}
                <td style="text-align:center">{{ add1 $prec }}</td>
              {{end}}
            </tr>
            {{end}}
          </thead>
          {{range $index, $element := .Question.Choices}}
            <tr>
              <th>{{ asHTML . }}</th>
              {{if le $.Question.Precision 10}}
                {{range $prec, $elem := loop $.Question.Precision}}
                  <td style="text-align:center">
                    <input type="radio" name="response-{{ $index }}"
                    value="{{ $prec }}"/>
                  </td>
                {{end}}
              {{else}}
              <td>
                <input type="range" name="response-{{ $index }}"
                  min="1" max="{{ $.Question.Precision }}"/>
              </td>
              {{end}}
            </tr>
          {{end}}
          </table>
          <div class="panel-footer">
            <input type="submit" class="btn btn-primary"/>
          </div>
        {{end}}
      {{else}}
        <div class="panel-body">
          There are no questions left.
        </div>
      {{end}}
    </form>
    {{if .Admin}}
    <div class="panel panel-default">
      <form class="panel-body" method="post" action="/questions.csv"
          enctype="multipart/form-data">
        <a href="/questions.csv" class="btn btn-default">
          Download Results as .CSV</a>
        <button class="btn btn-default invisible-upload">
          Upload New .CSV
          <input type="file" name="file"
            onchange="if (this.value) this.parentNode.parentNode.submit()"/>
        </button>
      </form>
  </div>
  {{end}}
</body>
</html>